$body-bg: #0f0f0f;
$main-color: #910000;
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

$header-height: 6rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Lato', sans-serif;
