/* stylelint-disable */
@use '../sass/' as *;

.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 10px 40px 0;
  color: #fff;
  font-weight: 400;
  margin-top: 80px;
  gap: 40px;
  overflow-x: hidden;

  @include mobile {
    padding-right: 20px;
  }
}

.section-left {
  width: 50%;
  margin-left: 50px;
}

.movie-rating {
  padding-left: 3px;
  margin-top: 20px;
  color: #910000;
  font-weight: 600;
  display: flex;
  flex-direction: column;

  span {
    margin-right: 20px;
  }

  @include mobile {
    font-size: 12px;
  }
}

.movie-title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;

  @include mobile {
    font-size: 24px;
  }
}
.movie-plot {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.4;

  @include mobile {
    margin-top: 40px;
    font-size: 11px;
    width: 80vw;
  }
}

.movie-info {
  @include mobile {
    width: 90vw;
  }
}

.movie-info > div span:first-child {
  margin-top: 10px;
  padding: 0;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.movie-info > div span {
  color: #910000;
  font-weight: 600;
}

.fa-star {
  color: #ff9e00;
}
.fa-thumbs-up {
  color: #fafafa;
}

.fa-film {
  color: rgb(191, 213, 214);
}

.fa-calendar {
  color: peachpuff;
}

.section-right {
  img {
    width: 100%;
    border-radius: 10px;

    @include mobile {
      margin-left: -20px;
    }
  }
}
