@import '../../sass/variables';

.movie-wrapper {
  padding: 30px;
  margin-top: 50px;
}

.movie-list,
.shows-list {
  margin: 20px 0;

  h2 {
    color: $txt-color;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 15px;
}
